default/Flowusersencrypted.json
{
  "externalControllerServices" : {
    "03fa533e-4d9d-33c0-932a-e8b0d5a8751b" : {
      "identifier" : "03fa533e-4d9d-33c0-932a-e8b0d5a8751b",
      "name" : "DBCPConnectionPool"
    }
  },
  "flow" : {
    "createdTimestamp" : 1745093202322,
    "description" : "",
    "identifier" : "Flowusersencrypted",
    "lastModifiedTimestamp" : 1745093202322,
    "name" : "Flow_users_encrypted",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b72-0196-1000-8f04-423c771797df",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b87-0196-1000-5fd8-6f6217c3cb91",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "original", "splits", "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b78-0196-1000-6f35-7cd03824e9b5",
        "name" : "SplitText",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b75-0196-1000-1a43-02df3e3c8783",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b86-0196-1000-945b-f1047bae158a",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b76-0196-1000-8f4d-26184ba04e65",
        "name" : "GetFile",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 779.0912103744292,
        "y" : 32.05592538216948
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b74-0196-1000-ac5a-9a0dd6bcd707",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b7b-0196-1000-a02a-a990e68b3cd6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b73-0196-1000-dceb-aaa6c5accdc3",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b77-0196-1000-20a9-6207aa115e18",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b7f-0196-1000-e112-2b0a918ef289",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b72-0196-1000-8f04-423c771797df",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b79-0196-1000-bc2d-8d88637da05f",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b7e-0196-1000-6bbe-5d97d557cdd7",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b74-0196-1000-ac5a-9a0dd6bcd707",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b74-0196-1000-ac5a-9a0dd6bcd707",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b7d-0196-1000-454b-d3ca26af60b6",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b73-0196-1000-dceb-aaa6c5accdc3",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b73-0196-1000-dceb-aaa6c5accdc3",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b82-0196-1000-9480-2d4b2c7a995d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b71-0196-1000-0d0d-35893f2c745b",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ {
        "x" : 779.0912103744292,
        "y" : 182.05592538216948
      } ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b74-0196-1000-ac5a-9a0dd6bcd707",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b83-0196-1000-7df9-a8131b725692",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "retry" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b73-0196-1000-dceb-aaa6c5accdc3",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b78-0196-1000-6f35-7cd03824e9b5",
        "name" : "SplitText",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b7c-0196-1000-93f5-54fca891f0f9",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b75-0196-1000-1a43-02df3e3c8783",
        "name" : "UpdateAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b7a-0196-1000-6a30-6ffa7b4410a2",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b85-0196-1000-7833-75f239af1a92",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b70-0196-1000-2638-c28bf3c3e429",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b71-0196-1000-0d0d-35893f2c745b",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b80-0196-1000-092e-2821e21c0a66",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b77-0196-1000-20a9-6207aa115e18",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b71-0196-1000-0d0d-35893f2c745b",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b81-0196-1000-e94e-b65f4d652c3c",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b72-0196-1000-8f04-423c771797df",
        "name" : "ConvertRecord",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b70-0196-1000-2638-c28bf3c3e429",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b84-0196-1000-1ea1-db64dff28cd2",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "failure" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "40279b71-0196-1000-0d0d-35893f2c745b",
        "name" : "ExecuteScript",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b6d-0196-1000-6c22-eebf37d7ee63",
      "name" : "CSVReader",
      "properties" : {
        "ignore-csv-header" : "true",
        "Trim double quote" : "true",
        "CSV Format" : "excel",
        "Quote Character" : "\"",
        "csvutils-allow-duplicate-header-names" : "true",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Escape Character" : "\\",
        "Skip Header Line" : "true",
        "Trim Fields" : "true",
        "schema-name" : "${schema.name}",
        "csv-reader-csv-parser" : "commons-csv",
        "schema-access-strategy" : "csv-header-derived",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "ignore-csv-header" : {
          "displayName" : "Ignore CSV Header Column Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ignore-csv-header",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Trim double quote" : {
          "displayName" : "Trim double quote",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim double quote",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "csvutils-allow-duplicate-header-names" : {
          "displayName" : "Allow Duplicate Header Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-allow-duplicate-header-names",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Skip Header Line" : {
          "displayName" : "Treat First Line as Header",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Skip Header Line",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "csv-reader-csv-parser" : {
          "displayName" : "CSV Parser",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-reader-csv-parser",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b6e-0196-1000-3b37-80b73120b297",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b6b-0196-1000-e4ee-ac4c07353966",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "Timestamp Format" : "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'",
        "Date Format" : "yyyy-MM-dd",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "Time Format" : "HH:mm:ss",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b6f-0196-1000-f7b4-c562ec94dcc1",
      "name" : "CSVRecordSetWriter",
      "properties" : {
        "CSV Format" : "custom",
        "Include Header Line" : "true",
        "Escape Character" : "\\",
        "Trim Fields" : "true",
        "schema-access-strategy" : "schema-text-property",
        "csvutils-character-set" : "UTF-8",
        "schema-text" : "{\n  \"type\": \"record\",\n  \"name\": \"users_data_no_address\",\n  \"fields\": [\n    {\"name\": \"current_age\", \"type\": \"int\"},\n    {\"name\": \"retirement_age\", \"type\": \"int\"},\n    {\"name\": \"birth_year\", \"type\": \"int\"},\n    {\"name\": \"birth_month\", \"type\": \"int\"},\n    {\"name\": \"latitude\", \"type\": \"float\"},\n    {\"name\": \"longitude\", \"type\": \"float\"},\n    {\"name\": \"per_capita_income\", \"type\": \"float\"},\n    {\"name\": \"yearly_income\", \"type\": \"float\"},\n    {\"name\": \"total_debt\", \"type\": \"float\"},\n    {\"name\": \"credit_score\", \"type\": \"int\"},\n    {\"name\": \"num_credit_cards\", \"type\": \"int\"}\n  ]\n}",
        "csv-writer" : "commons-csv",
        "Quote Character" : "\"",
        "Value Separator" : ",",
        "Record Separator" : "\\n",
        "Schema Write Strategy" : "no-schema",
        "schema-name" : "${schema.name}",
        "Quote Mode" : "MINIMAL",
        "Include Trailing Delimiter" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "CSV Format" : {
          "displayName" : "CSV Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "CSV Format",
          "sensitive" : false
        },
        "Include Header Line" : {
          "displayName" : "Include Header Line",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Header Line",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Escape Character" : {
          "displayName" : "Escape Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Escape Character",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Null String" : {
          "displayName" : "Null String",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null String",
          "sensitive" : false
        },
        "Trim Fields" : {
          "displayName" : "Trim Fields",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Trim Fields",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "Comment Marker" : {
          "displayName" : "Comment Marker",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Comment Marker",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "csvutils-character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csvutils-character-set",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "csv-writer" : {
          "displayName" : "CSV Writer",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "csv-writer",
          "sensitive" : false
        },
        "Quote Character" : {
          "displayName" : "Quote Character",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Character",
          "sensitive" : false
        },
        "Value Separator" : {
          "displayName" : "Value Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Value Separator",
          "sensitive" : false
        },
        "Record Separator" : {
          "displayName" : "Record Separator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Record Separator",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "Quote Mode" : {
          "displayName" : "Quote Mode",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Quote Mode",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        },
        "Include Trailing Delimiter" : {
          "displayName" : "Include Trailing Delimiter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Trailing Delimiter",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.csv.CSVRecordSetWriter"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.3.0"
        },
        "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b6c-0196-1000-46cd-c432436a95bd",
      "name" : "JsonRecordSetWriter",
      "properties" : {
        "Allow Scientific Notation" : "false",
        "compression-level" : "1",
        "Pretty Print JSON" : "false",
        "compression-format" : "none",
        "Schema Write Strategy" : "no-schema",
        "suppress-nulls" : "never-suppress",
        "output-grouping" : "output-array",
        "schema-name" : "${schema.name}",
        "schema-access-strategy" : "inherit-record-schema",
        "schema-text" : "${avro.schema}"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Allow Scientific Notation" : {
          "displayName" : "Allow Scientific Notation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Scientific Notation",
          "sensitive" : false
        },
        "compression-level" : {
          "displayName" : "Compression Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-level",
          "sensitive" : false
        },
        "schema-cache" : {
          "displayName" : "Schema Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-cache",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "Pretty Print JSON" : {
          "displayName" : "Pretty Print JSON",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print JSON",
          "sensitive" : false
        },
        "compression-format" : {
          "displayName" : "Compression Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "compression-format",
          "sensitive" : false
        },
        "Schema Write Strategy" : {
          "displayName" : "Schema Write Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema Write Strategy",
          "sensitive" : false
        },
        "suppress-nulls" : {
          "displayName" : "Suppress Null Values",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "suppress-nulls",
          "sensitive" : false
        },
        "output-grouping" : {
          "displayName" : "Output Grouping",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "output-grouping",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Schema Reference Writer" : {
          "displayName" : "Schema Reference Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Schema Reference Writer",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonRecordSetWriter"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "03fa533e-4d9d-33c0-932a-e8b0d5a8751b" : {
        "identifier" : "03fa533e-4d9d-33c0-932a-e8b0d5a8751b",
        "name" : "DBCPConnectionPool"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b79-0196-1000-bc2d-8d88637da05f",
      "position" : {
        "x" : 416.0,
        "y" : -424.0
      }
    }, {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b7a-0196-1000-6a30-6ffa7b4410a2",
      "position" : {
        "x" : 220.04938236273415,
        "y" : 724.6085993092811
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "users_encrypted",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b76-0196-1000-8f4d-26184ba04e65",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetFile",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -872.0,
        "y" : -432.0
      },
      "properties" : {
        "Keep Source File" : "true",
        "Minimum File Age" : "0 sec",
        "Polling Interval" : "30 sec",
        "Input Directory" : "/dataset_project_test",
        "Batch Size" : "10",
        "Minimum File Size" : "0 B",
        "Ignore Hidden Files" : "true",
        "Recurse Subdirectories" : "false",
        "File Filter" : "users_data.csv"
      },
      "propertyDescriptors" : {
        "Keep Source File" : {
          "displayName" : "Keep Source File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Keep Source File",
          "sensitive" : false
        },
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Input Directory" : {
          "displayName" : "Input Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Input Directory",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Batch Size" : {
          "displayName" : "Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Batch Size",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Ignore Hidden Files" : {
          "displayName" : "Ignore Hidden Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Hidden Files",
          "sensitive" : false
        },
        "Recurse Subdirectories" : {
          "displayName" : "Recurse Subdirectories",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Recurse Subdirectories",
          "sensitive" : false
        },
        "File Filter" : {
          "displayName" : "File Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter",
          "sensitive" : false
        },
        "Path Filter" : {
          "displayName" : "Path Filter",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.GetFile",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b74-0196-1000-ac5a-9a0dd6bcd707",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 264.0,
        "y" : -208.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "true"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-update-attribute-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b75-0196-1000-1a43-02df3e3c8783",
      "maxBackoffPeriod" : "10 mins",
      "name" : "UpdateAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -856.0,
        "y" : -192.0
      },
      "properties" : {
        "Store State" : "Do not store state",
        "canonical-value-lookup-cache-size" : "100",
        "mime.type" : "text/csv"
      },
      "propertyDescriptors" : {
        "Delete Attributes Expression" : {
          "displayName" : "Delete Attributes Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Attributes Expression",
          "sensitive" : false
        },
        "Store State" : {
          "displayName" : "Store State",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Store State",
          "sensitive" : false
        },
        "canonical-value-lookup-cache-size" : {
          "displayName" : "Cache Value Lookup Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "canonical-value-lookup-cache-size",
          "sensitive" : false
        },
        "mime.type" : {
          "displayName" : "mime.type",
          "dynamic" : true,
          "identifiesControllerService" : false,
          "name" : "mime.type",
          "sensitive" : false
        },
        "Stateful Variables Initial Value" : {
          "displayName" : "Stateful Variables Initial Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Stateful Variables Initial Value",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b72-0196-1000-8f04-423c771797df",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConvertRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -856.0,
        "y" : 232.0
      },
      "properties" : {
        "Include Zero Record FlowFiles" : "true",
        "Record Writer" : "40279b6e-0196-1000-3b37-80b73120b297",
        "Record Reader" : "40279b6d-0196-1000-6c22-eebf37d7ee63"
      },
      "propertyDescriptors" : {
        "Include Zero Record FlowFiles" : {
          "displayName" : "Include Zero Record FlowFiles",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Zero Record FlowFiles",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ConvertRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b77-0196-1000-20a9-6207aa115e18",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -664.0,
        "y" : 424.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "true"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-scripting-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b71-0196-1000-0d0d-35893f2c745b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ExecuteScript",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -288.0,
        "y" : 232.0
      },
      "properties" : {
        "Script Engine" : "Groovy",
        "Script Body" : "import org.apache.commons.io.IOUtils\nimport java.nio.charset.StandardCharsets\nimport java.util.logging.Logger\nimport javax.crypto.Cipher\nimport javax.crypto.spec.SecretKeySpec\nimport javax.crypto.spec.IvParameterSpec\nimport java.util.Base64\n\n// Logger global\ndef LOG = Logger.getLogger(\"ExecuteScript\")\n\n// Cl de chiffrement et vecteur d'initialisation ( stocker de manire scurise dans un environnement de production)\ndef ENCRYPTION_KEY = \"MySecretKey12345\" //  remplacer par une cl scurise de 16 caractres\ndef ENCRYPTION_IV = \"InitializationVe\"  //  remplacer par un IV scuris de 16 caractres\n\n// Liste des champs  chiffrer\ndef SENSITIVE_FIELDS = [\"per_capita_income\", \"yearly_income\", \"total_debt\"]\n\ndef flowFile = session.get()\nif (flowFile != null) {\n    try {\n        flowFile = session.putAttribute(flowFile, \"script.status\", \"starting\")\n        \n        flowFile = session.write(flowFile, { inputStream, outputStream -> \n            def text = IOUtils.toString(inputStream, StandardCharsets.UTF_8)\n            \n            LOG.info(\"Contenu reu : \" + text)\n            \n            if (!text || text.trim().isEmpty()) {\n                LOG.severe(\"Le texte d'entre est vide ou null\")\n                outputStream.write(\"{}\".getBytes(StandardCharsets.UTF_8))\n                return\n            }\n            \n            // Nettoyage du texte\n            text = text.trim()\n            if (text.startsWith(\"[[\") && text.endsWith(\"]]\")) {\n                text = text.substring(2, text.length() - 2).trim()\n            } else if (text.startsWith(\"[\") && text.endsWith(\"]\")) {\n                text = text.substring(1, text.length() - 1).trim()\n            }\n            \n            // Parser JSON\n            def data\n            try {\n                data = new groovy.json.JsonSlurper().parseText(text)\n                LOG.info(\"JSON pars avec succs : \" + data)\n            } catch (Exception e) {\n                LOG.severe(\"Erreur de parsing JSON : \" + e.getMessage())\n                LOG.severe(\"Texte qui a caus l'erreur : \" + text)\n                outputStream.write(\"{}\".getBytes(StandardCharsets.UTF_8))\n                return\n            }\n            \n            if (data == null) {\n                LOG.severe(\"Le JSON pars est null\")\n                outputStream.write(\"{}\".getBytes(StandardCharsets.UTF_8))\n                return\n            }\n            \n            def result = [:]\n            \n            // Copier toutes les proprits\n            data.each { key, value ->\n                result[key] = value\n            }\n\n            // Traitement des dates (si applicable)\n            if (result.expires != null) {\n                try {\n                    String expiresStr = result.expires.toString().trim()\n                    String[] parts = expiresStr.split(\"-\")\n                    \n                    if (parts.length == 2) {\n                        String day = parts[0]\n                        String month = parts[1]\n                        \n                        if (day.length() <= 2 && month.length() >= 3) {\n                            String year = \"20\" + day\n                            String monthNum = getMonthNumber(month)\n                            result.expires = year + \"-\" + monthNum + \"-01\"\n                        } else {\n                            String monthNum = getMonthNumber(day)\n                            String year = \"20\" + month\n                            result.expires = year + \"-\" + monthNum + \"-01\"\n                        }\n                    } else {\n                        LOG.warning(\"Format de date d'expiration non reconnu: \" + expiresStr)\n                    }\n                } catch (Exception e) {\n                    LOG.warning(\"Erreur lors de la conversion de la date d'expiration : \" + e.getMessage())\n                }\n            }\n            \n            // Chiffrement des champs sensibles\n            SENSITIVE_FIELDS.each { field ->\n                if (result[field] != null) {\n                    try {\n                        // Sauvegarder une version masque pour l'affichage\n                        result[\"masked_\" + field] = \"***\"\n                        \n                        // Chiffrer la valeur relle\n                        result[field] = encrypt(result[field].toString(), ENCRYPTION_KEY, ENCRYPTION_IV)\n                    } catch (Exception e) {\n                        LOG.warning(\"Erreur lors du chiffrement du champ \" + field + \" : \" + e.getMessage())\n                    }\n                }\n            }\n            \n            // Journal pour dboguer\n            LOG.info(\"Champs sensibles chiffrs\")\n            \n            def json = new groovy.json.JsonBuilder(result).toPrettyString()\n            outputStream.write(json.getBytes(StandardCharsets.UTF_8))\n        })\n        \n        flowFile = session.putAttribute(flowFile, \"script.status\", \"success\")\n        session.transfer(flowFile, REL_SUCCESS)\n    } catch (Exception e) {\n        LOG.severe(\"Exception dans le script: \" + e.getMessage())\n        e.printStackTrace()\n        flowFile = session.putAttribute(flowFile, \"script.error\", e.getMessage())\n        flowFile = session.putAttribute(flowFile, \"script.error.stacktrace\", e.toString())\n        session.transfer(flowFile, REL_FAILURE)\n    }\n}\n\ndef getMonthNumber(monthAbbr) {\n    def months = [\n        'Jan': '01', 'Feb': '02', 'Mar': '03', 'Apr': '04', 'May': '05', 'Jun': '06',\n        'Jul': '07', 'Aug': '08', 'Sep': '09', 'Oct': '10', 'Nov': '11', 'Dec': '12'\n    ]\n    return months[monthAbbr.toString()] ?: '01'\n}\n\n// Fonction de chiffrement AES\ndef encrypt(String plainText, String key, String iv) {\n    try {\n        // S'assurer que la cl et l'IV font 16 caractres (128 bits)\n        key = key.padRight(16).substring(0, 16)\n        iv = iv.padRight(16).substring(0, 16)\n        \n        Cipher cipher = Cipher.getInstance(\"AES/CBC/PKCS5Padding\")\n        SecretKeySpec keySpec = new SecretKeySpec(key.getBytes(\"UTF-8\"), \"AES\")\n        IvParameterSpec ivSpec = new IvParameterSpec(iv.getBytes(\"UTF-8\"))\n        \n        cipher.init(Cipher.ENCRYPT_MODE, keySpec, ivSpec)\n        byte[] encryptedBytes = cipher.doFinal(plainText.getBytes(\"UTF-8\"))\n        \n        return Base64.getEncoder().encodeToString(encryptedBytes)\n    } catch (Exception e) {\n        LOG.severe(\"Erreur de chiffrement: \" + e.getMessage())\n        return plainText // En cas d'erreur, retourne le texte non chiffr mais logge l'erreur\n    }\n}\n\n// Fonction de dchiffrement (pour rfrence)\ndef decrypt(String encryptedText, String key, String iv) {\n    try {\n        // S'assurer que la cl et l'IV font 16 caractres (128 bits)\n        key = key.padRight(16).substring(0, 16)\n        iv = iv.padRight(16).substring(0, 16)\n        \n        Cipher cipher = Cipher.getInstance(\"AES/CBC/PKCS5Padding\")\n        SecretKeySpec keySpec = new SecretKeySpec(key.getBytes(\"UTF-8\"), \"AES\")\n        IvParameterSpec ivSpec = new IvParameterSpec(iv.getBytes(\"UTF-8\"))\n        \n        cipher.init(Cipher.DECRYPT_MODE, keySpec, ivSpec)\n        byte[] decodedBytes = Base64.getDecoder().decode(encryptedText)\n        byte[] decryptedBytes = cipher.doFinal(decodedBytes)\n        \n        return new String(decryptedBytes, \"UTF-8\")\n    } catch (Exception e) {\n        LOG.severe(\"Erreur de dchiffrement: \" + e.getMessage())\n        return encryptedText // En cas d'erreur, retourne le texte chiffr mais logge l'erreur\n    }\n}"
      },
      "propertyDescriptors" : {
        "Script File" : {
          "displayName" : "Script File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Script Engine" : {
          "displayName" : "Script Engine",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Engine",
          "sensitive" : false
        },
        "Script Body" : {
          "displayName" : "Script Body",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Script Body",
          "sensitive" : false
        },
        "Module Directory" : {
          "displayName" : "Module Directory",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Module Directory",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY" ]
          },
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.script.ExecuteScript",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b78-0196-1000-6f35-7cd03824e9b5",
      "maxBackoffPeriod" : "10 mins",
      "name" : "SplitText",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -872.0,
        "y" : 0.0
      },
      "properties" : {
        "Remove Trailing Newlines" : "true",
        "Header Line Count" : "1",
        "Line Split Count" : "1"
      },
      "propertyDescriptors" : {
        "Remove Trailing Newlines" : {
          "displayName" : "Remove Trailing Newlines",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remove Trailing Newlines",
          "sensitive" : false
        },
        "Maximum Fragment Size" : {
          "displayName" : "Maximum Fragment Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Fragment Size",
          "sensitive" : false
        },
        "Header Line Marker Characters" : {
          "displayName" : "Header Line Marker Characters",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Line Marker Characters",
          "sensitive" : false
        },
        "Header Line Count" : {
          "displayName" : "Header Line Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Line Count",
          "sensitive" : false
        },
        "Line Split Count" : {
          "displayName" : "Line Split Count",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Line Split Count",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.SplitText",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b70-0196-1000-2638-c28bf3c3e429",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 280.0,
        "y" : 432.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "true"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "40279b73-0196-1000-dceb-aaa6c5accdc3",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutDatabaseRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 688.0,
        "y" : 232.0
      },
      "properties" : {
        "put-db-record-allow-multiple-statements" : "false",
        "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
        "put-db-record-statement-type" : "INSERT",
        "put-db-record-quoted-identifiers" : "true",
        "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
        "put-db-record-max-batch-size" : "1000",
        "database-session-autocommit" : "false",
        "table-schema-cache-size" : "100",
        "put-db-record-quoted-table-identifiers" : "true",
        "put-db-record-translate-field-names" : "true",
        "put-db-record-dcbp-service" : "03fa533e-4d9d-33c0-932a-e8b0d5a8751b",
        "put-db-record-query-timeout" : "0 seconds",
        "Column Name Translation Strategy" : "REMOVE_UNDERSCORE",
        "rollback-on-failure" : "false",
        "put-db-record-binary-format" : "UTF-8",
        "db-type" : "PostgreSQL",
        "put-db-record-table-name" : "encrypted_users_data",
        "put-db-record-record-reader" : "40279b6b-0196-1000-e4ee-ac4c07353966"
      },
      "propertyDescriptors" : {
        "put-db-record-allow-multiple-statements" : {
          "displayName" : "Allow Multiple SQL Statements",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-allow-multiple-statements",
          "sensitive" : false
        },
        "put-db-record-schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-schema-name",
          "sensitive" : false
        },
        "put-db-record-field-containing-sql" : {
          "displayName" : "Field Containing SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-field-containing-sql",
          "sensitive" : false
        },
        "put-db-record-unmatched-column-behavior" : {
          "displayName" : "Unmatched Column Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-unmatched-column-behavior",
          "sensitive" : false
        },
        "Delete Keys" : {
          "displayName" : "Delete Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Keys",
          "sensitive" : false
        },
        "put-db-record-catalog-name" : {
          "displayName" : "Catalog Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-catalog-name",
          "sensitive" : false
        },
        "put-db-record-statement-type" : {
          "displayName" : "Statement Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-statement-type",
          "sensitive" : false
        },
        "put-db-record-update-keys" : {
          "displayName" : "Update Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-update-keys",
          "sensitive" : false
        },
        "put-db-record-quoted-identifiers" : {
          "displayName" : "Quote Column Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-quoted-identifiers",
          "sensitive" : false
        },
        "put-db-record-unmatched-field-behavior" : {
          "displayName" : "Unmatched Field Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-unmatched-field-behavior",
          "sensitive" : false
        },
        "put-db-record-max-batch-size" : {
          "displayName" : "Maximum Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-max-batch-size",
          "sensitive" : false
        },
        "Database Dialect Service" : {
          "displayName" : "Database Dialect Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Database Dialect Service",
          "sensitive" : false
        },
        "Data Record Path" : {
          "displayName" : "Data Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Record Path",
          "sensitive" : false
        },
        "database-session-autocommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-session-autocommit",
          "sensitive" : false
        },
        "table-schema-cache-size" : {
          "displayName" : "Table Schema Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "table-schema-cache-size",
          "sensitive" : false
        },
        "put-db-record-quoted-table-identifiers" : {
          "displayName" : "Quote Table Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-quoted-table-identifiers",
          "sensitive" : false
        },
        "Statement Type Record Path" : {
          "displayName" : "Statement Type Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Statement Type Record Path",
          "sensitive" : false
        },
        "Column Name Translation Pattern" : {
          "displayName" : "Column Name Translation Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Translation Pattern",
          "sensitive" : false
        },
        "put-db-record-translate-field-names" : {
          "displayName" : "Translate Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-translate-field-names",
          "sensitive" : false
        },
        "put-db-record-dcbp-service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-db-record-dcbp-service",
          "sensitive" : false
        },
        "put-db-record-query-timeout" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-query-timeout",
          "sensitive" : false
        },
        "Column Name Translation Strategy" : {
          "displayName" : "Column Name Translation Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Column Name Translation Strategy",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        },
        "put-db-record-binary-format" : {
          "displayName" : "Binary String Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-binary-format",
          "sensitive" : false
        },
        "db-type" : {
          "displayName" : "Database Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "db-type",
          "sensitive" : false
        },
        "put-db-record-table-name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-table-name",
          "sensitive" : false
        },
        "put-db-record-record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-db-record-record-reader",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "admin",
    "flowIdentifier" : "Flowusersencrypted",
    "timestamp" : 0
  }
}